* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: #fff;
    margin: auto;
}

a {
    color: yellow;
}

.link:hover {
    color: #00FF00;
}

header {
    color: #fff;
    display: flex;
    align-items: center;
    width: 80%;
    height: 7vh;
}

footer {
    text-align: center;
    padding: 10% 2% 2% 2%;
}

.background-img {
    background-image: url(./img/lbl-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}

.logo {
    flex: 1;
}

.logo img {
    padding-top: 3%;
    width: 30%;
    filter: drop-shadow(1px 1px 3px #424242);
}

.nav-links {
    flex: 1;
    list-style: none;
}

.nav-link {
    text-decoration: underline;
    color: #fff;
}

/* ========================================== LANDING PAGE ========================================= */

.main {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    height: 93vh;
    top: 7vh;
}

.introduction {
    flex: 1.5;
    align-self: center;
}

.introduction h1 {
    font-weight: 500;
    font-size: 73px;
    filter: drop-shadow(2px 2px 5px #424242);
}

.introduction h3 {
    padding: 2%;
    filter: drop-shadow(2px 2px 5px #424242);
}

.cover-img {
    flex: 1;
    align-self: center;
}

.cover-img img {
    filter: drop-shadow(1px 1px 1px #f5f5f5);
    animation: drop 1.5s ease;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ========================================== COMMON TO ALL SECTIONS ========================================= */

.sections {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    height: 100vh;
}

.sections h1 {
    font-size: 40px;
    padding-bottom: 2%;
}

.section-text {
    font-size: 20px;
    line-height: 1.6em;
}

/* ============================================ DJ SECTION ================================================ */

.dj-section {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.dj-section-img {
    flex: 1;
    align-items: center;
}

.dj-section-img img {
    filter: drop-shadow(0.5px 0px 0px #f5f5f5);
}

.dj-work {
    flex: 1.5;
    text-align: center;
    width: 90%;
    margin: auto;
}

/* ========================================= VLOG SECTION ================================================== */

.vlog-section {
    flex-direction: column;
    height: 150vh;
    padding-top: 10rem;
}

.vlog-work {
    text-align: center;

}

.vlog-text {
    padding-bottom: 2%;
}

.vlog-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vlog-img-block {
    display: flex;
    flex-direction: column;
}

.vlog-img-block img {
    width: 100%;
}

/* ============================================ PRODUCTIVITY SECTION ==================================== */

.productivity-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
}

.fav-video {
    flex: 1;
    padding-top: 5rem;
}

.productivity-work {
    flex: 1;
}

/* ======================================= QUOTE SECTION ============================================= */

.quote-section {
    display: flex;
    align-items: center;
}

.quote-img {
    flex: 1;
}

.quote-img img {
    width: 80%;
}

.quote {
    display: flex;
    flex: 1.5;
}

.quote-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2%;
}

.quotation-mark-img {
    opacity: 0.2;
    width: 25%;
}

.text-style {
    text-align: justify;
}

.quote-owner {
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
}

/* ==================================== TWEET SECTION ========================================= */

.tweet-section {
    align-items: center;
    flex-direction: row;
}

.lbl-logo-small {
    flex: 1;
    display: flex;
    justify-content: center;
}

.tweet-card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tweet-text {
    padding-bottom: 2%;
    text-align: center;
}

/* ======================================== FOLLOW SECTION ======================================= */

.follow-section {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.luke-links {
    width: 90%;
    text-align: center;
}

.luke-links img {
    width: 10%;
    padding: 1%;
    transition: transform .2s;
}

.luke-links img:hover {
    filter: drop-shadow(0px 0px 10px #bdbdbd);
    transform: scale(1.1);
}

.luke-links a {
    padding: 4%;
}

/* ========================================= RESPONSIVENESS ============================================ */

/* Four screen sizes have been taken care of:
    - max-width: 1024px
    - max-width: 850px
    - max-width: 500px
    - height: 812px
*/

@media screen and (max-width: 1024px) {

    .dj-section {
        flex-direction: column;

        /* padding-top: 20%; */
    }

    .dj-section-img {
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
    }

    .dj-section-img img {
        width: 100%;
    }

    .productivity-section {
        flex-direction: column;
    }

    .tweet-section {
        flex-direction: column;
        height: 150vh;
    }

    .lbl-logo-small img {
        height: 50%;
        display: flex;
        align-self: center;
    }
}

@media screen and (max-width: 850px) {

    .main {
        flex-direction: column;
    }

    .background-img {
        background-position: 10%;
    }

    .logo img {
        width: 60%;
    }

    .introduction {
        padding-top: 30%;
        position: absolute;
        bottom: 5%;
    }

    .cover-img {
        display: none;
    }

    .section-text {
        font-size: 18px;
    }

    .dj-work iframe,
    .productivity-section iframe {
        width: 90%;
    }

    /* .vlog-section {
        height: 330vh;
    } */

    .vlog-imgs {
        flex-direction: column;
    }

    /* .productivity-section {
        height: 40vh;
    } */
}

@media screen and (max-width: 500px) {
    .logo img {
        width: 100%;
    }

    .background-img {
        background-position: 25%;
    }

    .introduction {
        position: absolute;
        bottom: 5%;
    }

    .introduction h1 {
        font-size: 45px;
    }

    .introduction h3 {
        font-size: 15px;
    }

    .cover-img {
        display: none;
    }

    .sections h1 {
        font-size: 30px;
    }

    .section-text {
        font-size: 15px;
    }

    .dj-section {
        height: 100vh;
    }

    .dj-section-img {
        flex: 0.5;
    }

    /* .vlog-section {
        height: 200vh;
    } */

    .productivity-section {
        padding-top: 20%;
    }

    .quote-section {
        padding-top: 20%;
        flex-direction: column-reverse;
    }

    .quote-img {
        display: flex;
        justify-content: center;
        padding-top: 2%;
    }

    .tweet-section {
        padding-top: 20%;
    }

    .lbl-logo-small img {
        width: 50%;
        height: 55%;
    }
}

@media screen and (height: 812px) {
    .dj-section {
        height: 100vh;
    }

    /*
    .vlog-section {
        height: 150vh;
    }

    .productivity-section {
        height: 50vh;
    }

    .quote-section {
        height: 100vh;
    }

    .align-div {
        height: 50vh;
    } */

    .quote-img img {
        width: 90%;
    }

    .lbl-logo-small {
        align-items: center;
    }

    .lbl-logo-small img {
        height: 60%;
        width: 90%;
    }
}